In [ ]:
import numpy as np
import pandas as pd
import json
import tweepy as tw

CONSUMER_KEY="AUGJdwXQFhCfpR8f3pAOhEFQx"
CONSUMER_SECRET_KEY="0wSRVc0dPW4g1ocI8QFojBN6h5M1fV5VGFkilkYx3O5vFfcqYd"
ACCESS_KEY="1388406367292063750-WMtMsxxFWFoJohehIulG2mYHMIKark"
ACCESS_KEY_SECRET="tHOGsUO8PaAEtcDeTNLcAJDOdx2Ii5c6G70hNfZC7v4FP"

auth=tw.OAuthHandler(CONSUMER_KEY,CONSUMER_SECRET_KEY)
auth.set_access_token(ACCESS_KEY,ACCESS_KEY_SECRET)

api = tw.API(auth, wait_on_rate_limit=True)
search_words=input("Enter the search word\n")
search_words=search_words+" -filter"
date_since = "2000-09-15"
tweets = tw.Cursor(api.search,q=search_words,lang="en",since=date_since).items(
    1000)
users_locs=[]
for i,tweet in enumerate(tweets):
    users_locs.append([i,tweet.text])
tweet_text = pd.DataFrame(data=users_locs,columns=['id','tweet'])
export_csv = tweet_text.to_csv (r'test_tweet.csv')

Enter the search word
chennai

In [ ]:
tweet_text.head(10)

   id                                              tweet
0   0  RT @theAfroLegalise: Good morning , due to inc...
1   1  RT @MattKinapen: Women seem to " experience th...
2   2  RT @theAfroLegalise: Good morning , due to inc...
3   3  RT @FaisalN28127081: Sexual harassment of wome...
4   4  RT @ZainAsher: “When we are silent, we allow o...
5   5  RT @b_k8n: 2017, India’s Ministry of Defense r...
6   6  RT @theAfroLegalise: Good morning , due to inc...
7   7  RT @aliya_fateh: #IndianArmyExposed\nIndian De...
8   8  RT @catapprieciator: In Egypt, 99% of women ha...
9   9  An incredibly brave group of women speaking ou...

In [ ]:
AUGJdwXQFhCfpR8f3pAOhEFQx - api key
api secret key - 0wSRVc0dPW4g1ocI8QFojBN6h5M1fV5VGFkilkYx3O5vFfcqYd
bearer token - AAAAAAAAAAAAAAAAAAAAAIEpQAEAAAAAveyr2Tl0IlpnO6TsaADrmmOpLmk%3D19VP5AWB8REOy6HJcJjaz3WhjGDCwVXr7yRTdCo986xB6uJLGM

**Mounting drive**

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# **Reading dataset**

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.metrics import confusion_matrix,f1_score

In [ ]:
train_data = pd.read_csv('/content/drive/MyDrive/train.csv')
train_data.head(10)

   id  label                                              tweet
0   1      0   @user when a father is dysfunctional and is s...
1   2      0  @user @user thanks for #lyft credit i can't us...
2   3      0                                bihday your majesty
3   4      0  #model   i love u take with u all the time in ...
4   5      0             factsguide: society now    #motivation
5   6      0  [2/2] huge fan fare and big talking before the...
6   7      0   @user camping tomorrow @user @user @user @use...
7   8      0  the next school year is the year for exams.ð...
8   9      0  we won!!! love the land!!! #allin #cavs #champ...
9  10      0   @user @user welcome here !  i'm   it's so #gr...

In [ ]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31962 entries, 0 to 31961
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      31962 non-null  int64
 1   label   31962 non-null  int64
 2   tweet   31962 non-null  object
dtypes: int64(2), object(1)
memory usage: 749.2+ KB

**Preprocessing**

In [ ]:
train_data['processed_tweets'] = train_data['tweet'].str.replace('[^A-Za-z0-9 ]', '')
train_data.head(10)

   id  ...                                   processed_tweets
0   1  ...   user when a father is dysfunctional and is so...
1   2  ...  user user thanks for lyft credit i cant use ca...
2   3  ...                                bihday your majesty
3   4  ...  model   i love u take with u all the time in u...
4   5  ...               factsguide society now    motivation
5   6  ...  22 huge fan fare and big talking before they l...
6   7  ...   user camping tomorrow user user user user use...
7   8  ...  the next school year is the year for exams can...
8   9  ...  we won love the land allin cavs champions clev...
9  10  ...         user user welcome here   im   its so gr8

[10 rows x 4 columns]

In [ ]:
def drop_features(features,data):
    data.drop(features,inplace=True,axis=1)
drop_features(['id','tweet'],train_data)

In [ ]:
train_data.head()

   label                                   processed_tweets
0      0   user when a father is dysfunctional and is so...
1      0  user user thanks for lyft credit i cant use ca...
2      0                                bihday your majesty
3      0  model   i love u take with u all the time in u...
4      0               factsguide society now    motivation

In [ ]:
train_data['processed_tweets'] = train_data['processed_tweets'].apply(lambda x: x.split())
train_data.head()

   label                                   processed_tweets
0      0  [user, when, a, father, is, dysfunctional, and...
1      0  [user, user, thanks, for, lyft, credit, i, can...
2      0                            [bihday, your, majesty]
3      0  [model, i, love, u, take, with, u, all, the, t...
4      0             [factsguide, society, now, motivation]

**Stemming**

In [ ]:
from nltk.stem.snowball import SnowballStemmer

stemmer = SnowballStemmer("english")
train_data['processed_tweets']= train_data['processed_tweets'].apply(lambda x: [stemmer.stem(i) for i in x])
train_data.head()

   label                                   processed_tweets
0      0  [user, when, a, father, is, dysfunct, and, is,...
1      0  [user, user, thank, for, lyft, credit, i, cant...
2      0                            [bihday, your, majesti]
3      0  [model, i, love, u, take, with, u, all, the, t...
4      0                   [factsguid, societi, now, motiv]

In [ ]:
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
stopwords = nltk.corpus.stopwords.words('english')
import string

def process(text):
    nopunc = set(char for char in list(text) if char not in string.punctuation)
    nopunc = " ".join(nopunc)
    return [word for word in nopunc.lower().split() if word.lower() not in stopwords]

train_data['processed_tweets'] = train_data['processed_tweets'].apply(process)
train_data.head()

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

   label                                   processed_tweets
0      0  [selfish, user, dysfunct, drag, run, kid, father]
1      0  [pdx, user, disapoint, cant, getthank, caus, l...
2      0                                  [majesti, bihday]
3      0                   [u, take, time, model, love, ur]
4      0                        [societi, factsguid, motiv]

In [ ]:
def join_tokens(tweet):
    return " ".join(tweet)

train_data['processed_tweets'] = train_data['processed_tweets'].apply(join_tokens)
train_data.head()

   label                                   processed_tweets
0      0          selfish user dysfunct drag run kid father
1      0  pdx user disapoint cant getthank caus lyft cre...
2      0                                     majesti bihday
3      0                          u take time model love ur
4      0                            societi factsguid motiv

**Training the model**

In [ ]:
from sklearn.model_selection import train_test_splita

x_train, x_test, y_train, y_test = train_test_split(train_data["processed_tweets"],
                                                    train_data["label"], 
                                                    test_size = 0.4, 
                                                    random_state = 30)

In [ ]:
x_train.size

19177

In [ ]:
x_test.size

12785

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer, TfidfTransformer
count_vect = CountVectorizer(stop_words='english')
transformer = TfidfTransformer(norm='l2',sublinear_tf=True)
x_train_count = count_vect.fit_transform(x_train)
x_train_tfidf = transformer.fit_transform(x_train_count)
x_test_count = count_vect.transform(x_test)
x_test_tfidf = transformer.transform(x_test_count)
x_test_tfidf

<12785x24915 sparse matrix of type '<class 'numpy.float64'>'
	with 83198 stored elements in Compressed Sparse Row format>

In [ ]:
print(x_train_tfidf.shape)
print(x_test_tfidf.shape)

(19177, 24915)
(12785, 24915)

In [ ]:
from sklearn.svm import SVC
model3=SVC()
model3.fit(x_train_tfidf,y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [ ]:
predSVC=model3.predict(x_test_tfidf)

In [ ]:
print(predSVC)

[0 0 0 ... 0 0 0]

In [ ]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,predSVC)

0.9554165037152914

In [ ]:
from sklearn.metrics import classification_report
print(classification_report(y_test,predSVC))

              precision    recall  f1-score   support

           0       0.96      1.00      0.98     11885
           1       0.93      0.40      0.56       900

    accuracy                           0.96     12785
   macro avg       0.94      0.70      0.77     12785
weighted avg       0.95      0.96      0.95     12785

In [ ]:
cm = confusion_matrix(y_test,predSVC)
print(cm)

[[11859    26]
 [  544   356]]

**Saving the model**

In [ ]:
from sklearn.externals import joblib
joblib.dump(model3, 'save1.pkl')

['save1.pkl']

In [ ]:
saved_model = joblib.load('save1.pkl')

In [ ]:
from sklearn.ensemble import RandomForestClassifier
model4 = RandomForestClassifier(n_estimators=200)
model4.fit(x_train_tfidf,y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=200,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [ ]:
predRF = model4.predict(x_test_tfidf)

In [ ]:
c_m = confusion_matrix(y_test,predRF)
c_m

array([[5911,   26],
       [ 232,  224]])

In [ ]:
accuracy_score(y_test,predRF)

0.9605818864382919

**Testing the model**

In [ ]:
test_data = pd.read_csv('/content/drive/MyDrive/test_tweet1.csv')
test_data.head()

   Unnamed: 0  id                                              tweet
0           0   0  RT @HayleyFoster_: JUST IN: WA parliament move...
1           1   1  RT @molly_mcelwee: Investigation into sport's ...
2           2   2  RT @baboo_2021: @mikedailly I find this bullyi...
3           3   3  RT @Fauzia__A: Feminists who cry day night abo...
4           4   4  RT @ZainAsher: “When we are silent, we allow o...

In [ ]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1000 non-null   int64
 1   id          1000 non-null   int64
 2   tweet       1000 non-null   object
dtypes: int64(2), object(1)
memory usage: 23.6+ KB

In [ ]:
import re
def process_tweet(tweet):
    return " ".join(re.sub("(@[A-Za-z0-9]+)|([^0-9A-Za-z \t])", " ",tweet.lower()).split())

In [ ]:
test_data['processed_tweet'] = test_data['tweet'].apply(process_tweet)
test_data.head(10)

   Unnamed: 0  ...                                    processed_tweet
0           0  ...  rt just in wa parliament moves on safe access ...
1           1  ...  rt mcelwee investigation into sport s metoo mo...
2           2  ...  rt 2021 i find this bullying and blatant haras...
3           3  ...  rt a feminists who cry day night about abu e a...
4           4  ...  rt when we are silent we allow other women to ...
5           5  ...  rt in 2016 who memberstates adopted the global...
6           6  ...  rt men should first learn about sexual harassm...
7           7  ...  rt today marks 4 years since ricky john best a...
8           8  ...  rt mcelwee investigation into sport s metoo mo...
9           9  ...  rt in 2016 who memberstates adopted the global...

[10 rows x 4 columns]

In [ ]:
test_counts = count_vect.transform(test_data['processed_tweet'])
test_tfidf = transformer.transform(test_counts)

In [ ]:
prediction = model3.predict(test_tfidf)

In [ ]:
result = pd.DataFrame({'tweet':test_data['tweet'],'label':prediction})
result.to_csv('output2.csv',index=False)
result

                                                 tweet  label
0    RT @HayleyFoster_: JUST IN: WA parliament move...      0
1    RT @molly_mcelwee: Investigation into sport's ...      0
2    RT @baboo_2021: @mikedailly I find this bullyi...      1
3    RT @Fauzia__A: Feminists who cry day night abo...      0
4    RT @ZainAsher: “When we are silent, we allow o...      0
..                                                 ...    ...
995  RT @SportsCenter: Pitching coach Mickey Callaw...      0
996  RT @JeffPassan: Angels pitching coach Mickey C...      0
997  RT @SharOBalaa: Almost the first time politica...      0
998  RT @CBECal: Low-income tenants, women of color...      0
999  RT @CBECal: Low-income tenants, women of color...      0

[1000 rows x 2 columns]

In [ ]:
cities = ['Mumbai', 'Delhi', 'Bangalore', 'Chennai', 'Kolkata', 'Jaipur', 'Hyderabad', 'Mysore', 'Pune', 'Amritsar', 'Visakhapatnam', 'Patna', 'Chandigarh']

In [ ]:
data = pd.read_csv('/content/test_tweet.csv')
data.head()

   Unnamed: 0  id                                              tweet
0           0   0  RT @Iam_sarbath: Any one in chennai... Please ...
1           1   1  Today's #indiagold price (999) per 10gms.\n\n#...
2           2   2  RT @IndiaToday: Congress stages protest in Che...
3           3   3  🔰Bank of America Recruitment 2021🔰\n\n👉Name of...
4           4   4  RT @sureshl_india: @ArunKrishnan_ Bengaluru so...

In [ ]:
data['processed_tweet'] = data['tweet'].str.replace('[^A-Za-z0-9 ]', '')
data.head()

   Unnamed: 0  ...                                    processed_tweet
0           0  ...       RT Iamsarbath Any one in chennai Please help
1           1  ...  Todays indiagold price 999 per 10gmsMumbai 487...
2           2  ...  RT IndiaToday Congress stages protest in Chenn...
3           3  ...  Bank of America Recruitment 2021Name of Post  ...
4           4  ...  RT sureshlindia ArunKrishnan Bengaluru sounds ...

[5 rows x 4 columns]

In [ ]:
data['processed_tweet'] = data['processed_tweet'].apply(lambda x: x.split())
data.head(10)

   Unnamed: 0  ...                                    processed_tweet
0           0  ...  [RT, Iamsarbath, Any, one, in, chennai, Please...
1           1  ...  [Todays, indiagold, price, 999, per, 10gmsMumb...
2           2  ...  [RT, IndiaToday, Congress, stages, protest, in...
3           3  ...  [Bank, of, America, Recruitment, 2021Name, of,...
4           4  ...  [RT, sureshlindia, ArunKrishnan, Bengaluru, so...
5           5  ...  [RT, CaptainJeyOff, Viswasam, FDFS, Thala, Int...
6           6  ...  [RT, StpiChennai, Congratulations, Ms, TWM, In...
7           7  ...  [RT, tniefeatures, As, boondhcup, starts, the,...
8           8  ...  [RT, IndiaToday, Congress, stages, protest, in...
9           9  ...  [RT, NarendranKs, Needed, stand, by, donors, f...

[10 rows x 4 columns]

In [ ]:
from sklearn.externals import joblib
saved_model = joblib.load('save1.pkl')

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer, TfidfTransformer
import pandas as pd
count_vect = CountVectorizer()
transformer = TfidfTransformer(norm='l2',sublinear_tf=True)
data = {'tweet':['Good to know everyone is safe in mumbai']}
tweets = pd.DataFrame(data, columns=['tweet'])
tweets

                                     tweet
0  Good to know everyone is safe in mumbai

In [ ]:
import re
def process_tweet(tweet):
    return " ".join(re.sub("(@[A-Za-z0-9]+)|([^0-9A-Za-z \t])", " ",tweet.lower()).split())

In [ ]:
tweets['tweet'] = tweets['tweet'].apply(process_tweet)

In [ ]:
counts = count_vect.fit_transform(tweets['tweet'])
tfidf = transformer.fit_transform(counts)
counts.shape

(1, 8)

In [ ]:
res = saved_model.predict(tfidf)
res

ValueError: ignored